<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="chat_content">
        <div class="chat_header">
            <h1>Chat</h1>
        </div>
        <div class="chat_commun_content">
            <div class="chat_guest_fhoto"></div>
            <div class="chat_chatting">
                <div class="chatting_button">
                    <label for="escribir" class="label_escribir">
                        <input type="text" id="escribir" placeholder="Escribe algo...">
                    </label>
                    <input type="submit" id="enviar_chat" value="Enviar">
                </div>
            </div>
        </div>
    </div>
</body>
</html>