<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="perfil_content">
        <div class="header_perfil">
            <h1>Mi Perfil...</h1>
        </div>
        <div class="foto_perfil"></div>
        <div class="user_name">
            <label for="editar_foto"></label>
            <input type="file" id="editar_foto" placeholder="Cambiar foto">
            <h4 class="user_name">Mi nombre de usuario.</h4>
        </div>
        <div class="opciones_busqueda">
            <a href="users_list.html">Tu lista de contactos</a>
            <a href="chat.html">Hacer nuevos amigos</a>
            <a href="https://www.google.com/maps/@47.3984533,9.7449711,2943m/data=!3m1!1e3?entry=ttu&g_ep=EgoyMDI2MDEwNi4wIKXMDSoASAFQAw%3D%3D">Buscar por region</a>
        </div>
    </div>
</body>
</html>