<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="user_list_content">
        <div class="header_user_list">
            <h1>Lista de usuarios</h1>
        </div>
        <div class="user_listado">
            <section>
                <article>
                    <a href="chat.html">
                        <div class="user_img_user_list">
                            <img src="../assets/image/10.jpg" alt="" width="100" height="100">
                        </div>
                        <div class="user_name_user_list">Jorgeelmaquina</div>
                    </a>
                </article>
                <article>
                    <a href="chat.html">
                        <div class="user_img_user_list">
                            <img src="../assets/image/15.jpg" alt="" width="100" height="100">
                        </div>
                        <div class="user_name_user_list">Georgmediolatino</div>
                    </a>
                </article>
                <article>
                    <a href="chat.html">
                        <div class="user_img_user_list">
                            <img src="../assets/image/13.jpg" alt="" width="100" height="100">
                        </div>
                        <div class="user_name_user_list">RamonPerez</div>
                    </a>
                </article>
                <article>
                    <a href="chat.html">
                        <div class="user_img_user_list">
                            <img src="../assets/image/14.jpg" alt="" width="100" height="100">
                        </div>
                        <div class="user_name_user_list">Jacknicholson</div>
                    </a>
                </article>
                <article>
                    <a href="chat.html">
                        <div class="user_img_user_list">
                            <img src="../assets/image/11.png" alt="" width="100" height="100">
                        </div>
                        <div class="user_name_user_list">Donaldtrump</div>
                    </a>
                </article>
                <article>
                    <a href="chat.html">
                        <div class="user_img_user_list">
                            <img src="../assets/image/12.jpg" alt="" width="100" height="100">
                        </div>
                        <div class="user_name_user_list">ElionMusk</div>
                    </a>
                </article>    
            </section>
        </div>
    </div>
</body>
</html>